$white: #fff;
$primary-50: #f9ffff;
$primary-100: #f2fffe;
$primary-200: #acded9;
$primary-300: #90ded8;
$primary-400: #54c3b9;
$primary-500: #35bfb5;
$primary-600: #19a299;
$primary-700: #168a82;
$primary-800: #1c5d59;
$primary-900: #2f5554;
$secondary-50: #f8fbff;
$secondary-100: #f2f8ff;
$secondary-200: #cbe3ff;
$secondary-300: #ace0ff;
$secondary-400: #7dcfff;
$secondary-500: #4fbeff;
$secondary-600: #1f95d9;
$secondary-700: #007ec7;
$secondary-800: #005f96;
$secondary-900: #003e62;
$neutral-50: #fbfcfd;
$neutral-100: #f7f9fc;
$neutral-200: #dce1e8;
$neutral-300: #d6dde3;
$neutral-400: #b8c0c6;
$neutral-500: #a7b0b9;
$neutral-600: #767f87;
$neutral-700: #3d444a;
$neutral-800: #2d3339;
$neutral-900: #2c3035;
$gradient: linear-gradient(
  140deg,
  #0a3433 3.25%,
  #0a3433 64.31%,
  #188381 105.02%
);
$text: $neutral-700;
$transition: 0.3s;
$font-en: "Poppins", sans-serif;
$header-height: 90px;
$header-height-mobile: 70px;
$shadow-lg: 0 5px 35px rgba(26, 201, 182, 0.15);

$nav-top-mobile: calc(100vh - 70px);

body {
  color: $text;
  font-family: "Noto Sans TC", sans-serif;
  height: 1000px;
  line-height: 1.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

button {
  transition: $transition;
}

select {
  appearance: none;
  background-image: url(../img/select-arrow.svg);
  background-size: 18px;
  background-position: calc(100% - 14px) center;
  background-repeat: no-repeat;
}

main {
  overflow: hidden;
  min-height: calc(100vh - 90px);
  padding-top: $header-height;
  @media screen and (max-width: 991px) {
    padding-top: $header-height-mobile;
  }
}

p {
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $text;
  display: block;
  transition: $transition;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $primary-600;
    [class^="icon-"],
    [class*=" icon-"] {
      &::before {
        color: $primary-600;
      }
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  border: 1px solid $primary-700;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 20px;
  &-text {
    font-size: 16px;
    font-weight: 700;
    transition: $transition;
    margin: 0;
    color: $white;
  }
  &-icon {
    font-size: 16px;
    &::before {
      color: $white;
    }
  }
  &-border {
    background-color: transparent;
    color: $primary-400;
    font-weight: 700;
    width: fit-content;
    .btn {
      &-text {
        color: $primary-400;
        font-weight: 700;
      }
      &-icon {
        &::before {
          color: $primary-600;
        }
      }
    }
    &:hover {
      border-color: $primary-700;
      color: $primary-700;
      .btn {
        &-text {
          color: $primary-700;
        }
        &-icon {
          &::before {
            color: $primary-700;
          }
        }
      }
    }
  }
  &-border-onlyicon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    .btn-icon {
      font-size: 32px;
    }
    &:hover {
      .btn-icon {
        &::before {
          color: $white;
        }
      }
    }
  }
  &-fill {
    background-color: $primary-700;
    border-color: $primary-700;
    color: $white;
    font-weight: 700;
    width: fit-content;
    .btn {
      &-text {
        color: $white;
        font-weight: 700;
        transition: $transition;
      }
      &-icon {
        &::before {
          color: $white;
          transition: $transition;
        }
      }
    }
    &:hover {
      background-color: $primary-500;
      color: $white;
      border-color: $primary-500;
      .btn-icon {
        &::before {
          color: $white;
        }
      }
    }
    &-light {
      padding: 8px 36px;
      background-color: $primary-200;
      border-color: $primary-200;
      .btn {
        &-icon {
          &::before {
            color: $primary-700;
          }
        }
        &-text {
          color: $primary-700;
        }
      }
      &:hover {
        background-color: $primary-500;
        border-color: $primary-500;
        .btn {
          &-icon {
            &::before {
              color: $white;
            }
          }
          &-text {
            color: $white;
          }
        }
      }
    }
    &-white {
      background-color: $white;
      box-shadow: $shadow-lg;
      .btn-text {
        color: $primary-700;
      }
      .btn-icon {
        &::before {
          color: $primary-700;
        }
      }
      &:hover {
        .btn-text {
          color: $white;
        }
      }
    }
  }
  &-alert {
    width: 52px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    &:hover {
      color: $white;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 16px 32px;
    border-radius: 16px;
  }
}

.title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 0;
  @media screen and (max-width: 991px) {
    font-size: 32px;
  }
}

.description {
  color: $neutral-500;
  margin: 0;
  @media screen and (max-width: 991px) {
    font-size: 14px;
  }
}

.text {
  font-size: 16px;
}

.input-item {
  display: flex;
  height: 45px;
  margin-bottom: 20px;
  > label {
    padding: 8px;
    background-color: $primary-500;
    color: $white;
    font-weight: 900;
    text-align: center;
    display: block;
    height: 100%;
    letter-spacing: 0.05em;
    border: 1px solid $primary-500;
    &.bg-transparent {
      border: 0;
      color: $text;
    }
  }
  > input {
    height: 100%;
    padding: 0 10px;
    border: 1px solid $primary-500;
  }
  &.radio {
    .radio {
      &-main {
        display: flex;
        align-items: center;
        gap: 28px;
        padding: 8px 20px;
      }
      &-item {
        gap: 8px;
        display: flex;
        align-items: center;
        padding-bottom: 4px;
        > input {
          width: 16px;
          height: 16px;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border: 1px solid $primary-500;
            top: 0;
            left: 0;
            border-radius: 50%;
          }
          &::after {
            position: absolute;
            content: "";
            width: 60%;
            height: 60%;
            background-color: $primary-500;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            opacity: 0;
          }
          &:checked {
            &::after {
              opacity: 1;
            }
          }
        }
        > label {
          font-size: 16px;
          font-weight: 900;
        }
      }
    }
  }
}

.nav {
  gap: 32px;
  &-link {
    padding: 0 0 6px;
    border-radius: 0;
    font-weight: 900;
    color: $text !important;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    &.active {
      background-color: transparent !important;
      color: $primary-600 !important;
      border-color: $primary-600;
    }
  }
  @media screen and (max-width: 575px) {
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 20px;
    &-link {
      white-space: nowrap;
      font-size: 16px;
    }
  }
}

.popup {
  position: fixed;
  width: 400px;
  background-color: $white;
  padding: 24px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 5;
  p {
    margin: 0;
    text-align: center;
  }
}

.modal {
  &-content {
    border: 0;
    border-radius: 0;
  }
  &-header {
    border: 0;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    .btn-close {
      padding: 0;
      width: 24px;
      height: 24px;
      background: none;
      span {
        font-size: 24px;
      }
    }
  }
  &-body {
    padding: 0 40px 40px;
  }
  &-dialog {
    margin-top: 100px;
  }
  @media screen and (max-width: 767px) {
    &-body {
      padding: 0 15px 40px;
    }
  }
}

.header {
  height: $header-height;
  background-color: $white;
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  &__main {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100%;
  }
  &__logo {
    width: 125px;
  }
  &__nav {
    margin-right: 20px;
    ul {
      display: flex;
      align-items: center;
      gap: 32px;
      a {
        position: relative;
        padding: 12px 0;
        &::after {
          position: absolute;
          content: "";
          height: 2px;
          background-color: $primary-600;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          transition: $transition;
          width: 0;
        }
        &:hover {
          color: $primary-600;
          font-weight: 700;
          &::after {
            width: 100%;
          }
        }
        &.active,
        &:hover {
          color: $primary-700;
          font-weight: 700;
          &::after {
            width: 100%;
            background-color: $primary-700;
          }
        }
      }
    }
  }
  &__btn {
    padding: 16px 40px;
    background-color: $primary-500;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 16px;
    border: 1px solid $primary-500;
    &.outline {
      background-color: transparent;
      color: $primary-500;
      border-color: $primary-500;
      padding-left: 20px;
      padding-right: 20px;
    }
    &:hover {
      background-color: $primary-600;
      color: $white;
    }
  }
  &__func {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
  }
  &__menu {
    width: 30px;
    height: 30px;
    position: relative;
    .bar {
      position: absolute;
      width: 95%;
      height: 2px;
      background-color: $primary-600;
      transition: $transition;
      left: 50%;
      transform: translateX(-50%);
      &-top {
        top: 4px;
      }
      &-middle {
        top: calc(50% - 1px);
      }
      &-bottom {
        top: calc(100% - 6px);
      }
    }
    &.active {
      .bar {
        top: 50%;
        left: 50%;
        &-top,
        &-middle {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &-bottom {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }
  @media screen and (max-width: 1199px) {
    .container {
      max-width: inherit;
    }
  }
  @media screen and (max-width: 991px) {
    height: $header-height-mobile;
    &__nav {
      position: fixed;
      background-color: $white;
      height: $nav-top-mobile;
      top: $header-height-mobile;
      right: 0;
      max-width: 400px;
      width: 100%;
      transition: $transition;
      right: -450px;
      padding-top: 20px;
      ul {
        display: block;
        a {
          padding: 12px 40px;
          &::after {
            display: none;
          }
        }
      }
      &.active {
        right: 0;
      }
      .header__btn {
        width: calc(100% - 80px);
        margin: 12px auto;
        text-align: center;
      }
    }
    &__func {
      gap: 20px;
    }
  }
  @media screen and (max-width: 575px) {
    &__logo {
      width: 110px;
    }
    &__btn {
      padding: 12px 20px;
      font-size: 14px;
    }
  }
}

.hero {
  position: relative;
  &-text {
    background: $neutral-100;
    border-radius: 0px 0px 120px 0px;
    padding: 140px 100px 140px 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 62%;
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
  &-title {
    font-size: 56px;
    font-weight: 900;
    &-highlight {
      color: $primary-500;
    }
  }
  &-subtitle {
    color: $neutral-500;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
  }
  &-img {
    border-radius: 0 0 0 100px;
    width: 48%;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0px 5px 35px 0px rgba(26, 201, 182, 0.15);
  }
  @media screen and (max-width: 1399px) {
    &-text {
      padding-left: 60px;
      padding-right: 100px;
    }
  }
  @media screen and (max-width: 991px) {
    &-img {
      position: static;
      width: 100%;
      border-radius: 0 0 0 60px;
    }
    &-text {
      margin-top: -60px;
      width: calc(100% - 20px);
      padding: 100px 40px 40px 40px;
      border-radius: 0 0 60px 0;
    }
    &-title {
      font-size: 36px;
    }
    &-subtitle {
      font-size: 14px;
      br {
        display: none;
      }
    }
  }
}

.gallery {
  padding: 60px 0;
  &-swiper {
    overflow: hidden;
  }
  &-item {
    width: 100%;
    padding-bottom: 60%;
    position: relative;
    transition: $transition;
    filter: grayscale(1);
    opacity: 0.5;
    > img {
      position: absolute;
      object-fit: contain;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }
  @media screen and (max-width: 575px) {
    padding: 40px 0;
    &-item {
      > img {
        width: 90%;
        height: 90%;
      }
    }
  }
}

.text-iconCards {
  padding: 100px 0;
  .row {
    margin-left: -40px;
    margin-right: -40px;
    align-items: center;
    > div {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  &-img {
    border-radius: 40px;
    box-shadow: 0px 5px 35px 0px rgba(26, 201, 182, 0.15);
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &-text {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  @media screen and (max-width: 991px) {
    padding: 0 0 60px;
    &-content {
      padding-top: 32px;
      gap: 32px;
    }
    &-text {
      &-wrapper {
        gap: 16px;
      }
    }
    &-wrapper {
      gap: 16px;
    }
  }
}

.card-icon {
  background: $neutral-100;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
  &-icon {
    background: $white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    > span {
      font-size: 32px;
    }
  }
  &-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% - 60px - 20px);
  }
  &-title {
    color: $neutral-900;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
  }
  &-description {
    color: $neutral-500;
    margin: 0;
  }
  @media screen and (max-width: 991px) {
    padding: 20px;
    align-items: flex-start;
    gap: 16px;
    &-text {
      width: calc(100% - 60px - 16px);
    }
    &-title {
      font-size: 18px;
    }
    &-description {
      font-size: 14px;
    }
  }
}

.cards {
  padding: 80px 0 100px;
  .title {
    text-align: center;
    margin-bottom: 24px;
  }
  .description {
    text-align: center;
    margin-bottom: 40px;
  }
  .row {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 40px;
    > div {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &_item {
    position: relative;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.2) 0%,
        transparent 50%,
        transparent 100%
      );
    }
    &:hover {
      .cards {
        &_pic {
          > img {
            transform: scale(1.2);
          }
        }
        &_arrow {
          background-color: $white;
          span {
            &::before {
              color: $primary-500;
            }
          }
        }
      }
    }
  }
  &_pic {
    width: 100%;
    padding-bottom: 120%;
    position: relative;
    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      transition: $transition;
    }
  }
  &_text {
    width: 100%;
    position: absolute;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    left: 0;
    bottom: 0;
  }
  &_title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    width: calc(100% - 40px);
    color: $white;
  }
  &_arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-500;
    transition: $transition;
    span {
      font-size: 24px;
      &::before {
        color: $white;
        transition: $transition;
      }
    }
  }
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 991px) {
    &_item {
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 60px 0;
    &_item {
      margin-bottom: 16px;
    }
    .title {
      margin-bottom: 16px;
    }
    .title,
    .description {
      text-align: left;
    }
    .row {
      margin-left: -8px;
      margin-right: -8px;
      margin-bottom: 20px;
      > div {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
    &_text {
      padding: 12px;
    }
    &_title {
      font-size: 16px;
      width: calc(100% - 28px);
    }
    &_arrow {
      width: 28px;
      height: 28px;
      span {
        font-size: 18px;
      }
    }
  }
}

.tool {
  padding: 100px 0;
  background-color: $neutral-100;
  .title {
    text-align: center;
    margin-bottom: 24px;
  }
  .description {
    text-align: center;
    margin-bottom: 40px;
  }
  .container {
    > .row {
      margin-left: -20px;
      margin-right: -20px;
      > div {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  &-tab {
    background-color: $white;
    border-radius: 32px;
    padding: 24px;
    .nav-tabs {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      border: 0;
      button {
        width: calc((100% - 20px) / 2);
        border-radius: 24px;
        border: 1px solid $neutral-300;
        text-align: center;
        padding: 20px 12px;
        font-weight: 700;
        color: $neutral-900;
        &.active {
          border: 1px solid $primary-500;
          background-color: $primary-500 !important;
          color: $white !important;
          &:hover {
            background-color: $primary-400 !important;
            color: $white !important;
          }
        }
        &:hover {
          border-color: $primary-500;
          color: $primary-500 !important;
        }
      }
    }
    &-active {
      padding: 12px 20px;
      border-radius: 16px;
      border: 1px solid $neutral-300;
      display: flex;
      align-items: center;
      display: none;
      background-color: $white;
      p {
        width: calc(100% - 20px);
        padding-right: 16px;
        margin: 0;
      }
      img {
        width: 20px;
      }
    }
  }
  &-content {
    margin-left: -12px;
    margin-right: -12px;
    > div {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  &-item {
    display: block;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 35px rgba(26, 201, 182, 0.15);
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    margin-bottom: 32px;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        to right,
        #fff 0%,
        rgba(255, 255, 255, 0.8) 57%,
        transparent 100%
      );
      z-index: -1;
    }
    h3 {
      margin-bottom: 8px;
      font-weight: 700;
      font-size: 20px;
      color: $neutral-900;
      transition: $transition;
    }
    p {
      font-size: 14px;
      margin-bottom: 24px;
      transition: $transition;
    }
    &__pic {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: -1;
      transition: $transition;
    }
    &__arrow {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      margin-left: auto;
      span {
        font-size: 24px;
      }
    }
    &:hover {
      .tool-item {
        &__pic {
          transform: scale(1.2);
        }
      }
      h3,
      p {
        color: $primary-700;
      }
    }
  }
  @media screen and (max-width: 991px) {
    &-tab {
      padding: 0;
      position: relative;
      background-color: transparent;
      margin-bottom: 24px;
      &-active {
        display: flex;
      }
      .nav-tabs {
        position: absolute;
        width: 100%;
        top: calc(100% + 4px);
        left: 0;
        z-index: 5;
        padding: 16px;
        border-radius: 20px;
        background-color: $white;
        box-shadow: rgba(26, 201, 182, 0.15);
        gap: 16px;
        display: none;
        button {
          font-size: 14px;
          border-radius: 12px;
          padding: 12px;
          width: calc((100% - 16px) / 2);
        }
      }
    }
    &-item {
      margin-bottom: 20px;
    }
  }
}

.compare {
  padding: 0 40px;
  &-wrapper {
    border-radius: 24px;
    background: $gradient;
    padding: 100px 60px;
    text-align: center;
    color: $white;
  }
  .title {
    margin-bottom: 40px;
  }
  &-inner {
    position: relative;
    padding: 0;
  }
  .beer-slider {
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
    img {
      width: 100%;
    }
    &::after {
      background-color: $white;
      border-radius: 12px;
      font-size: 14px;
      font-family: $font-en;
      padding: 10px 12px;
      color: $primary-600;
    }
  }
  .beer-reveal {
    &::after {
      background-color: $white;
      border-radius: 12px;
      font-size: 14px;
      font-family: $font-en;
      padding: 10px 12px;
      color: $primary-600;
    }
  }
  .beer-handle {
    background-color: #fff;
  }
  &-feat {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    border-radius: 20px;
    background-color: $primary-500;
    gap: 16px;
    width: fit-content;
    position: absolute;
    z-index: 5;
    span {
      font-size: 40px;
      &::before {
        color: #fff;
      }
    }
    p {
      margin: 0;
      font-size: 16px;
      font-weight: 700;
    }
    &--1 {
      top: 13%;
      left: -3%;
    }
    &--2 {
      left: 7%;
      bottom: 0;
      transform: translateY(50%);
    }
    &--3 {
      right: -6%;
      top: 33%;
    }
    &--4 {
      right: -3%;
      bottom: 21%;
    }
  }
  .btn {
    margin: 40px auto 0;
  }
  @media screen and (max-width: 991px) {
    padding: 0;
    &-wrapper {
      border-radius: 0;
      padding: 40px 20px;
    }
    .beer-slider {
      border-radius: 24px;
    }
    &-feat {
      padding: 16px 0;
      border-radius: 0;
      background-color: transparent;
      width: 100%;
      position: static;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      transform: none !important;
      span {
        font-size: 32px;
      }
    }
    .btn {
      margin: 40px auto 0;
    }
  }
}

.calculate {
  padding: 100px 0;
  text-align: center;
  .title {
    margin-bottom: 24px;
  }
  .description {
    margin-bottom: 40px;
  }
  &-wrapper {
    border-radius: 40px;
    padding: 40px;
    background-color: $neutral-100;
    .row {
      margin-left: -20px;
      margin-right: -20px;
      > div {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  &-checkbox {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
    &__input {
      width: 24px;
      position: relative;
      input {
        width: 24px;
        height: 24px;
        opacity: 0;
        &:checked + .checkmark {
          background-color: #1ac9b6;
          border-color: #1ac9b6;
          img {
            opacity: 1;
          }
        }
      }
      .checkmark {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 0;
        left: 0;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;
        border: 2px solid $neutral-300;
        img {
          width: 16px;
          opacity: 0;
          transition: $transition;
        }
      }
    }
    &__text {
      width: calc(100% - 24px - 12px);
      text-align: left;
      h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 4px;
        line-height: 1.5;
      }
      p {
        font-size: 12px;
        color: $neutral-500;
        margin: 0;
      }
    }
  }
  &-result {
    &-item {
      margin-bottom: 24px;
      border-radius: 32px;
      background-color: #fff;
      padding: 40px 32px 28px;
      text-align: left;
      h3 {
        font-size: 14px;
        font-weight: 700;
        color: $neutral-500;
      }
      p {
        font-size: 44px;
        margin: 0;
        font-weight: 700;
        font-family: $font-en;
        color: #00332b;
      }
      &.monthly {
        p {
          color: #1ac9b6;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    &-wrapper {
      padding: 32px 20px;
      border-radius: 24px;
      .row {
        margin-left: -10px;
        margin-right: -10px;
        > div {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    &-checkbox {
      gap: 8px;
      margin-bottom: 24px;
      &__input {
        width: 20px;
        padding-top: 2px;
        input {
          width: 20px;
          height: 20px;
        }
        .checkmark {
          width: 20px;
          height: 20px;
          border-radius: 6px;
          img {
            width: 12px;
          }
        }
      }
      &__text {
        width: calc(100% - 20px - 8px);
        h3 {
          font-size: 14px;
        }
      }
    }
    &-result {
      margin-top: 24px;
      &-item {
        margin-bottom: 20px;
        border-radius: 24px;
        padding: 24px 32px 16px;
        p {
          font-size: 40px;
        }
        &.yearly {
          margin: 0;
        }
      }
    }
  }
}
